html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Photo by Marco Molitor on Unsplash */

.dm{
  height: 300px;

  background: url('./images/dm.jpg');
  background-size: cover;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms{
  height: 300px;

  background: url('./images/ms.jpeg');
  background-size: cover;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp{
  height: 300px;

  background: url('./images/dp.jpeg');
  background-size: cover;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.js{
  height: 300px;

  background: url('./images/js.jpeg');
  background-size: cover;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-cta {
  background: url('./images/background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cta>h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
}

.content {
  margin-top: 60px;
}

.destroy {
  display: inline;
}

.destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #007bff;
}

.destroy:hover>input[type="submit"] {
  text-decoration: underline;
}

.container,
.flash {
  margin-top: 60px;
}

.nav-destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: rgba(0, 0, 0, .5);
  display: block;
  padding: .5rem 0.5rem;
}

@media (min-width: 992px) .nav-destroy>input[type="submit"] {
  padding-right: .5rem;
  padding-left: .5rem;
}

.nav-destroy:hover>input[type="submit"] {
  color: rgba(0, 0, 0, .7);
}


.card {
  margin: auto;
  width: 40%;
  /* shadow to give it the floating card effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  transition: 0.25s;
}

/* hover effect on card makes shadow larger */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

img {
  width: 100%;
  /* border-radius: 5px 5px 0 0; */
}

.container2 {
  padding: 2px 18px;
  width: 100px;
}

.container4 {
  background: url('./images/background.jpg');
  overflow: hidden;
  animation: color 1.5s ease infinite 20;
}

.ball {

  position: absolute;
  
  right: 10px;
	left: 10px; 
	top: 10px;
  bottom: 10px;
	background-color: white;
	
	
	
	animation: size 2s alternate-reverse 10;
}

@keyframes size {
	0% {transform: scale(0);}
	50% {transform: scale(50%);}
	100% {transform: scale(100%);}
}

@keyframes color {
	0% {background-color: white;}
	50% {background-color: black;}
	100% {background-color: white}
}

.box-position {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  /*background-color: red;*/
}

.container3 {
	width: 345px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
  margin-left: -170px;
}

.pre {
	padding: 5px;
	font-family: "Montserrat", serif;
	text-transform: uppercase;
	text-align: right;
	font-size: 1.3em;
  background-color: white;
  display: block;
  width: 245px;
  position: relative;
  color: black;
  
}

.wrapper {
	position: absolute;
  float: right;
  width: 85px;
  height: 38px;
	top: 0;
	left: 252px;
	overflow: hidden;
  background-color: black;
  border-right: 2px solid white;
}



.rotator {
  width: 80px;
	height: 400px;
	position: absolute;
	top: -44px;
	left: 0;
	/*animation: scroll 3s ease
	infinite;*/
  
  animation: slide 2s alternate 1;
	background-color: black;
	color: white;
  
}

@keyframes slide {
  0% {transform: translate(-100px);}
  100% {transform: translate(0);}
}

@keyframes scroll {
	0% {transform: translateY(0);}
	50% {transform: translateY(-50%);}
	100% {transform: translateY(-92%);}
}

.element {
	font-family: "Montserrat", serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	/*background-color: red;*/
	margin-top: 50px;
  padding-left: 0;
}




	  /*------------- footer -------------*/
footer {
	padding: 0;
	margin-left: -120px;
	width: 250px;
	position: absolute;
	top: 85%;
	left: 50%;
	color: white;	
	text-align: center;
  cursor: default;
	/*background-color: yellow;*/
}

.first {
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  animation: fcolor 1s ease 1;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  /*background-color: red;*/
}

@keyframes fcolor {
  from {text-color: black;}
  to {text-color: white;}
}

#heart {
   color: white;
   position: absolute;
  cursor: none;
   top: -2px;
   left: 87%;
}
#heart:hover {
	color: red;
}
.parallax{



  /* The image used */
  background: url('./images/background.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card {
  margin: auto;
  width: 20%;
  /* shadow to give it the floating card effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  transition: 0.25s;
}

/* hover effect on card makes shadow larger */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

img {
  width: 100%;
  /* border-radius: 5px 5px 0 0; */
}

