form(action=(artist ? `/artists/update` : "/artists"), method="POST")
  if artist
    input(type="hidden", name="id", value=artist.id)

  .form-group
    label Name
    input.form-control(name="artist[name]", required, value=(artist ? artist.name : null))

  .form-group
    label Rating
    textarea.form-control(name="artist[rating]")
      = artist ? artist.name : null

  .form-group
    label Genre
    select.form-control(name="artist[genre]", required)
      each genre in ['ROCK', 'JAZZ']
        option(value=genre, selected=(artist && artist.genre === genre ? true : false))= genre.toLowerCase()
  
  .form-group
    button.btn.btn-dark(type="submit") Submit